<h1>New Item</h1>

<form action="/item/create" method="POST">

	Name: <input name="name" type="text"/> <br />
	Attachment: <input name="attachment" type="file"/> <br />
	<input type="submit"/>
</form>
