<h1>New Piece</h1>

<form action="/piece/create" method="POST">

	Name: <input name="name" type="text"/> <br />

	Attachment: <input name="attachment" type="file"/> <br />
	<input type="submit"/>
</form>
